@media(min-width: 769px) {
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* Login page */
    .loginDiv{
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #f4f3ef;
    }

    .loginImageDiv{
        position: absolute;
        width: 50%;
        right: 0;
        background-image: url('../../public/Tennis-Wallpaper.jpg');
        background-position: center;
        background-size: cover;
        /* filter: blur(2px); */
        filter: brightness(80%);
        z-index: 1;
    }

    .loginImage{
        width: 100%;
    }

    .loginFormDiv{
        z-index: 2;
        width: 500px;
    }

    .loginCard{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 15px;
        padding-right: 15px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .loginTextBox{
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(73, 72, 72);
    }

    .centerDiv{
        position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);
    }

    /* Body */
    .contentCustom{
        position: relative;
        width: 100%;
        background-color: white;
    }

    .contentCustom-configs{
        position: relative;
        width: 100%;
        height: 940px;
        background-color: white;
        background: url('../../public/one-single-line-drawing-young-energetic-male-tennis-player.jpeg');
        background-size:cover;
        background-position: center;
    }

    .contentCustom-session{
        position: relative;
        width: 100%;
        height: 940px;
        background-color: white;
        background: url('../../public/tennis_line.jpeg');
        background-size:cover;
        background-position: center;
        /* padding-top: 10px; */
        padding-bottom: 50px;
        /* top: 85px; */
    }

    .session-content-ab{
        position: relative;
        top: 400px;
        /* background-color: aqua; */
    }

    .DashboardContentCustom{
        position: relative;
        width: 100%;
        background-color: white;
        height: 940px;
        /* background: url('../../public/continuous-line-drawing-of-man-playing-tennis-tournament-single-one-line-art-of-sport-and-healthy-lifestyle-illustration-free-vector.jpeg'); */
        background-size:cover;
        background-position: center;
        z-index: 1;
    }

    .dashboardContentDiv{
        position: relative;
        width: 100%;
        justify-content: center;
        display: flex;
        padding-top: 150px;
        z-index: 2;
    }


    .dashboardInfoBlock{
        width: 380px;
        height: 200px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        position: relative;
        justify-content: center;
        text-align: center;
        padding-top: 15px;
    }


    .dashboardPic{
        position: relative;
        background: url('../../public/racketandball.jpeg');
        background-size:contain;
        background-position: center;
        width: 100%;
        height: 400px;
    }

    .allMembersPic{
        position: relative;
        background: url('../../public/federerreflectsthursday.jpeg');
        background-size:contain;
        background-position: center;
        width: 100%;
        height: 400px;
    }

    .sessionsPic{
        position: relative;
        background: url('../../public/ballsAndRackets.jpeg');
        background-size:cover;
        background-position: center;
        width: 100%;
        height: 400px;
        top: 60px;
    }

    .configsPic{
        position: relative;
        background: url('../../public/tennis_line.jpeg');
        background-size:cover;
        background-position: center;
        width: 100%;
        height: 540px;
        top: 60px;
    }

    .dashboardTableContent{
        position: relative;
        width: 80%;
        background-color: #f4f3ef;
        border-radius: 8px;
        bottom: 55px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .sessionTableContent{
        position: relative;
        width: 80%;
        background-color: #ffffff;
        /* bottom: 55px; */
        /* top: 400px; */
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 9px;
        z-index: 1;
    }

    .configsContent{
        position: relative;
        width: 90%;
        background-color: #ffffff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 9px;
    }

    .membersContentDiv{
        position: relative;
        width: 100%;
        justify-content: center;
        display: flex;
        /* background-color: aqua; */
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .configsContentDiv{
        position: relative;
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .settings-tab{
        position: relative;
        width: 100%;
        background-color: white;
    }

    .formContentDiv{
        position: relative;
        width: 100%;
        background-color: white;
        /* background-image: url('../../public/silhouette-man-with-tennis-racket-isolated-white-background_201926-1249.jpeg');
        background-size: cover;
        background-position: center; */
    }

    /* .formContentDiv::before{
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        background-image: url('../../public/silhouette-man-with-tennis-racket-isolated-white-background_201926-1249.jpeg');
        background-size: cover;
        background-position: center;
      } */

      .searchDropDown{
        position: absolute;
        top: 60px;
        width: 70%;
        right: 0;
      }

}